body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-outline-muted {
    color: $text-muted;
    background-color: transparent;
    border-color: $text-muted;

    &:focus {
        box-shadow: 0 0 0 $input-btn-focus-width rgba($text-muted, .25);
    }
}

.btn-outline-muted:hover {
}

.table td {
    border-top: none;
    border-bottom: $table-border-width solid $table-border-color;
}

.card {
    border-radius: 0;
}

.card-title {
    border-bottom: 1px solid $card-border-color;
}
