/************** Open Sans **************/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400; /* or normal */
    src: local('Open Sans Regular'), local('OpenSans-Italic'), url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400; /* or normal */
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('/assets/fonts/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700; /* or bold */
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/assets/fonts/OpenSans-Bold.ttf') format('woff2');
}
